<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
      <link rel="stylesheet" href="css/forget.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
</head>

<body style="background-image: url(pics/bg6.jpg);">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Reset password</h3>

            <div class="card-text">
                <form>
                    <div class="form-group">
                        <label style="color: white; font-size: medium;">Enter your email address and we will send you a
                            link to reset your
                            password.</label>
                        <br>
                        <br>
                        <input type="email" class="form-control form-control-sm" placeholder="Enter your email address"
                            required autofocus>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>