    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:  rgb(29, 28, 28);">
        <div class="container">
            <a href="" class="navbar-brand"><img src="pics/blogo.png" alt="" style="width: 10%; height: 10%;"> <span
                    style="color: lightgreen">Online</span> <span style="color: skyblue;">Books</span> <span
                    style="color: red;">Store</span> </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarid">
                <ul class="navbar-nav text-center ml-auto">
                    <li class="nav-item">
                        <a href="home" class="nav-link"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="books" class="nav-link"> Books</a>
                    </li>
                    <li class="nav-item">
                        <a href="category" class="nav-link"> Catagory</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>