
    html {
        height: 100%;
        width: 100%;
    }
    
    body {
        background: url("pics/bg6.jpg") no-repeat center center fixed;
        background-size: cover;
        font-family: 'Droid Serif', serif;
    }
    
    #container {
        background: rgba(3, 3, 55, 0.5);
        width: 25.75rem;
        height: 30rem;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    header {
        text-align: center;
        vertical-align: middle;
        line-height: 3rem;
        height: 3rem;
        font-size: 1.4rem;
        background: linear-gradient(to left,#74ebd5,#9face6);
        padding: 30px , 0;
    }
    
    fieldset {
        border: 0;
        text-align: center;
    }
    
    input[type="submit"] {
        border-radius:6px;
        border:none;
        outline: none;
        color: #fff;
        display: block;
        font-size: 16px;
        padding: 15px 0;
        margin-top: 20px;
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;
        transition: all is ease;
    }
    #submit:hover{
        background: linear-gradient(to right, #74ebd5,#9face6);
    }
    
    input {
        background: transparent;
        border: 0;
        border-left: 4px solid;
        border-color: #FF0000;
        padding: 10px;
        color: white;
    }
    
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
        outline: 0;
        background: rgba(235, 30, 54, 0.3);
        border-radius: 1.2rem;
        border-color: transparent;
    }
    
    ::placeholder {
        color: #d3d3d3;
    }
    
    /*Media queries */
    
    @media all and (min-width: 481px) and (max-width: 568px) {
        #container {
            margin-top: 10%;
            margin-bottom: 10%;
        }
    }
        @media all and (min-width: 569px) and (max-width: 768px) {
            #container {
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }